.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #cfb87c;
    text-transform: none;
}

.reveal strong {
    color: #cfb87c;
}

.reveal .slides section .fragment.highlight-gold,
.reveal .slides section .fragment.highlight-current-gold {
	opacity: 1;
	visibility: inherit;
}

.reveal .slides section .fragment.highlight-gold.visible {
    color: #cfb87c;
}

.reveal .slides section .fragment.highlight-current-gold.current-fragment {
	color: #cfb87c;
}

.reveal ul.two-col {
    display: flex;
    flex-wrap: wrap;
}

.reveal ul.two-col li {
    width: 46%;
    margin: 0 2%;
}
